footer {
    width: 100%;
    background-color: $colorVerdeOscuro;
    text-align: center;
    padding-bottom: 120px;
    padding-top: 90px;
    h2 {
        color: $colorBlanco;
    }
    h3 {
        color: $colorBlanco;
    }
}